# General
node_modules
.DS_STORE

# Coverage
coverage.json
coverage
gasReporterOutput.json
gasReporterOutput-*.json

# Hardhat files
cache
artifacts
typechained
deployments/hardhat
deployments/localhost

# Config files
.env
.config.json
