# General
workspace.code-workspace
.DS_STORE
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.versionrc
.env
.env.example
**/LICENSE

# Hardhat
artifacts
cache

# JS
node_modules
yarn.lock

# Coverage
coverage
coverage.json

# Solidity
contracts/mock
