# General
workspace.code-workspace
.DS_STORE
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.versionrc
.env
.env.example
**/LICENSE

# Hardhat
artifacts
cache

# JS
node_modules
package-lock.json

# Coverage
coverage
coverage.json

# Solidity
contracts/mock
